<html>

<body>


    <a href="/users_2"> povratak</a>

    Izmena korisnika<br>

    <form action="/update-user" method="POST">
        <input type=hidden id=id name=id value={{user.id}}>
        Email: <input type=text id=email name=email value="{{user.email}}"><br>
        Pasword: <input type=text id=password name=password value="{{user.password}}">
        <input type="submit" value="Snimi">
    </form>

</body>
</html>