<html>

<body>
<a href="/add-user.html"> dodaj novog korisnika</a>
<table>
    {% for el in users %}
    <tr><td><a href="/edit-user?id={{el.id}}">{{el.id}}</a></td><td>{{el.email}}</td><td><a href="/remove?id={{el.id}}">obrisi</a></tr>
    {% endfor %}
</table>

</body>
</html>