.osiguravajuca_kuca {
    border: 1px solid #444;
    background-color: #aaa;
    padding: 10px;
}

.automobil {
    border: 1px solid #444;
    background-color: #aaa;
    padding: 10px;
}

.polisa {
    border: 1px solid #444;
    background-color: #aaa;
    padding: 10px;
}
