<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body id="app">
    <div>
        <button v-on:click="navigate('automobili')">Automobili</button>
        <button v-on:click="navigate('osiguravajuceKuce')">Osiguravajuće kuce</button>
        <button v-on:click="navigate('polise')">Polise</button>
    </div>

    <div v-if="stranicaZaPrikaz=='automobili'">
        <automobil-forma v-on:sacuvaj="createAutomobil" v-bind:tekst="'Dodaj'"></automobil-forma>
        <hr>
        <automobil-forma v-bind:automobil="automobilZaIzmenu" v-bind:tekst="'Izmeni'" v-on:sacuvaj="updateAutomobil"></automobil-forma>
        <tabela-automobila v-bind:automobili="automobili" v-on:uklanjanje="removeAutomobil" v-on:izmena="setAutomobilZaIzmenu"></tabela-automobila>
    </div>
    <div v-if="stranicaZaPrikaz=='osiguravajuceKuce'">
        <osiguravajuca-kuca-forma v-on:sacuvaj="createOsiguravajucaKuca" v-bind:tekst="'Dodaj'"></osiguravajuca-kuca-forma>
        <hr>
        <osiguravajuca-kuca-forma v-bind:osiguravajuca-kuca="osiguravajucaKucaZaIzmenu" v-bind:tekst="'Izmeni'" v-on:sacuvaj="updateOsiguravajucaKuca"></osiguravajuca-kuca-forma>
        <tabela-osiguravajucih-kuca v-bind:osiguravajuce-kuce="osiguravajuceKuce" v-on:uklanjanje="removeOsiguravajucaKuca" v-on:izmena="setOsiguravajucaKucaZaIzmenu"></tabela-osiguravajucih-kuca>
    </div>
    <div v-if="stranicaZaPrikaz=='polise'">
        <polisa-forma v-on:sacuvaj="createPolisa" v-bind:tekst="'Dodaj'" v-bind:automobili="automobili" v-bind:osiguravajuce-kuce="osiguravajuceKuce"></polisa-forma>
        <hr>
        <polisa-forma v-on:sacuvaj="updatePolisa" v-bind:polisa="polisaZaIzmenu" v-bind:tekst="'Izmeni'" v-bind:automobili="automobili" v-bind:osiguravajuce-kuce="osiguravajuceKuce"></polisa-forma>
        <tabela-polisa v-bind:polise="polise" v-on:uklanjanje="removePolisa" v-on:izmena="setPolisaZaIzmenu"></tabela-polisa>
    </div>
    <script src="app/app.js" type="module"></script>
</body>

</html>