<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <a href="/forma.html">Unos studenta</a>
    <table>
        <tr>
            <th>R. br.</th>
            <th>Broj indeksa</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Prosecna ocena</th>
            <th>Akcije</th>
        </tr>
        {% for student in studenti %}
        <tr {% if student.obrisan %}class="deleted"{% endif %}>
            <td>{{loop.index}}.</td>
            <td><a href="student?indeks={{student.indeks}}">{{student["indeks"]}}</a></td>
            <td>{{student["ime"]}}</td>
            <td>{{student.prezime}}</td>
            <td>{{student.ocena}}</td>
            <td><a href="ukloniStudenta?indeks={{student.indeks}}">Ukloni</a>
                <a href="izmeniStudentaForma?indeks={{student.indeks}}">Izmeni</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>