<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="script.js" defer></script>
    <title>Document</title>
</head>

<body>
    <form action="/izmeniStudenta?indeks={{indeks}}" method="POST" onsubmit="return validacija()">
        <div>
            <label for="indeks">Indeks</label>
            <input name="indeks" id="indeks" type="text" value="{{indeks}}" required />
        </div>
        <div>
            <label for="ime">Ime</label>
            <input name="ime" id="ime" type="text" value="{{ime}}" required />
        </div>
        <div>
            <label for="prezime">Prezime</label>
            <input name="prezime" id="prezime" type="text" value={{prezime}} required />
        </div>
        <div>
            <label for="ocena">Prosecna ocena</label>
            <input name="ocena" id="ocena" type="number" min="5" max="10" value={{ocena}} required />
        </div>
        <div>
            <input type="submit" value="Izmeni">
        </div>
    </form>
</body>

</html>