<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="script.js" defer></script>
    <title>Document</title>
</head>

<body>
    <ul>
        <li>{{indeks}}</li>
        <li>{{ime}}</li>
        <li>{{prezime}}</li>
        <li>{{ocena}}</li>
    </ul>
</body>

</html>