<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body id="app">
    <div>
        <button v-on:click="navigate('kupci')">Kupci</button>
        <button v-on:click="navigate('proizvodi')">Proizvodi</button>
    </div>

    <div v-if="stranicaZaPrikaz=='kupci'">
        <korisnik-forma v-on:sacuvaj="create" v-bind:tekst="'Dodaj'"></korisnik-forma>
        <korisnik-forma v-bind:kupac="kupacZaIzmenu" v-bind:tekst="'Izmeni'" v-on:sacuvaj="update"></korisnik-forma>
        <tabela-korisnika v-bind:kupci="kupci" v-on:uklanjanje="remove" v-on:izmena="setKupacZaIzmenu">
        </tabela-korisnika>
    </div>

    <div v-if="stranicaZaPrikaz=='proizvodi'">
        <tabela-proizvoda v-bind:proizvodi="proizvodi" v-on:uklanjanje="removeProizvod"></tabela-proizvoda>
    </div>
    <script src="app/app.js" type="module"></script>
</body>

</html>