<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <edit-item @clicked="addInParent"></edit-item>
        <p v-for="el in elements">
            {{el}}
        </p>
    </div>
<script>
    Vue.component('edit-item', {
        props: [],
        template: `
            <div>
            <input v-model="name"><button v-on:click="add">ADD</button>
            </div>
        `,
        data:function(){
            return {
                name: ''
            }
        },
        methods:{
            add(){
                console.log('add');
                this.$emit('clicked', this.name);
            }
        }
    })
    var app = new Vue({
        el: "#app",
        data: {
            elements: [],
        },
        methods:{
            addInParent(el){
                console.log(el);
                this.elements.push(el);
            }
        }
    })
</script>
</body>
</html>