<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        {{brojac}}
        <button v-on:click="uvecaj()">Brojac</button> 
    </div>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            brojac: 0
        },
        methods:{
            uvecaj: function(){
                this.brojac ++;
            }
        }
    })
</script>
</body>
</html>