<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <ol>
            <li v-for="dan in radniDani">
                {{dan}}
            </li>
        </ol>
    </div>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            message: 'Hello '+new Date().toLocaleString(),
            seen: false,
            radniDani: [
                'ponedeljak', 'utorak', 'sreda', 'cetvrtak', 'petak'
            ]
        }
    })
</script>
</body>
</html>