<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="ime">
        <button v-on:click="dodaj()">Dodaj</button>
        <ol>
            <li v-for="osoba in zaposleni">
                {{osoba}}
            </li>
        </ol>
    </div>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            ime: "",
            zaposleni: []
        },
        methods:{
            dodaj: function(){
                this.zaposleni.push(this.ime);
            }
        }
    })
</script>
</body>
</html>