<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body id="app">

    <korisnik-forma v-on:sacuvaj="create" v-bind:tekst="'Dodaj'"></korisnik-forma>
    <korisnik-forma v-bind:kupac="kupacZaIzmenu" v-bind:tekst="'Izmeni'" v-on:sacuvaj="update"></korisnik-forma>
    <tabela-korisnika v-bind:kupci="kupci" v-on:uklanjanje="remove" v-on:izmena="setKupacZaIzmenu"></tabela-korisnika>

    <script>
        const Prodavnica = {
            data() {
                return {
                    kupci: [],
                    kupacZaIzmenu: {}
                }
            },
            methods: {
                setKupacZaIzmenu(kupac) {
                    this.kupacZaIzmenu = { ...kupac };
                },
                refreshData() {
                    axios.get("api/kupci").then((response) => {
                        this.kupci = response.data;
                    });
                },
                create(kupac) {
                    axios.post("api/kupci", kupac).then((response) => {
                        this.refreshData();
                    });
                },
                update(kupac) {
                    console.log(kupac);
                    axios.put(`api/kupci/${kupac.id}`, kupac).then((response) => {
                        this.refreshData();
                    });
                },
                remove(id) {
                    axios.delete(`api/kupci/${id}`).then((response) => {
                        this.refreshData();
                    });
                }
            },
            created() {
                this.refreshData();
            }
        }

        const KorisnikForma = {
            props: ["kupac", "tekst"],
            emits: ["sacuvaj"],
            data() {
                return {
                    noviKupac: this.kupac ? {...this.kupac} : {}
                }
            },
            watch: {
                kupac: function(newValue, oldValue) {
                    this.noviKupac = {...this.kupac};
                }
            },
            template: `
            <form v-on:submit.prevent="$emit('sacuvaj', {...noviKupac})">
                <div>
                    <label>Ime: <input type="text" v-model="noviKupac.ime" required></label>
                </div>
                <div>
                    <label>Prezime: <input type="text" v-model="noviKupac.prezime" required></label>
                </div>
                <div>
                    <label>Korisničko ime: <input type="text" v-model="noviKupac.korisnickoIme" required></label>
                </div>
                <div>
                    <label>Lozinka: <input type="password" v-model="noviKupac.lozinka" required></label>
                </div>
                <div>
                    <input type="submit" v-bind:value="tekst">
                </div>
            </form>
            `
        }

        const TabelaKorisnika = {
            props: ["kupci"],
            emits: ["izmena", "uklanjanje"],
            data() {
                return {}
            },
            template: `
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Korisničko ime</th>
                <th>Lozinka</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="kupac in kupci">
                <td>{{kupac.id}}</td>
                <td>{{kupac.ime}}</td>
                <td>{{kupac.prezime}}</td>
                <td>{{kupac.korisnickoIme}}</td>
                <td>{{kupac.lozinka}}</td>
                <td><button v-on:click="$emit('izmena', {...kupac})">Izmeni</button><button
                        v-on:click="$emit('uklanjanje', kupac.id)">Ukloni</button></td>
            </tr>
        </tbody>
    </table>
            `
        }

        const app = Vue.createApp(Prodavnica);
        app.component('tabela-korisnika', TabelaKorisnika);
        app.component('korisnik-forma', KorisnikForma);
        app.mount("#app");
    </script>
</body>

</html>