<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body id="studentskaSluzba">
    <h1>{{naslov}}</h1>
    <form v-on:submit.prevent="dodajStudenta()">
        <div>
            <label>Indeks: <input type="text" v-model="noviStudent.indeks" required></label>
        </div>
        <div>
            <label>Ime: <input type="text" v-model="noviStudent.ime" required></label>
        </div>
        <div>
            <label>Prezime: <input type="text" v-model="noviStudent.prezime" required></label>
        </div>
        <div>
            <label>Prosečna ocena: <input type="number" v-model="noviStudent.prosecnaOcena" step="0.01" required></label>
        </div>
        <div>
            <input type="submit" value="Dodaj studenta">
        </div>
    </form>
    <form v-on:submit.prevent="potvrdiIzmenuStudenta()">
        <div>
            <label>Indeks: <input type="text" v-model="studentZaIzmenu.indeks" required></label>
        </div>
        <div>
            <label>Ime: <input type="text" v-model="studentZaIzmenu.ime" required></label>
        </div>
        <div>
            <label>Prezime: <input type="text" v-model="studentZaIzmenu.prezime" required></label>
        </div>
        <div>
            <label>Prosečna ocena: <input type="number" v-model="studentZaIzmenu.prosecnaOcena" step="0.01" required></label>
        </div>
        <div>
            <input type="submit" value="Izmeni studenta">
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <th>Broj indeksa</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Prosečna ocena</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="student in studenti">
                <td>{{student.indeks}}</td>
                <td>{{student.ime}}</td>
                <td>{{student.prezime}}</td>
                <td>{{student.prosecnaOcena}}</td>
                <td>
                    <button v-on:click="izmeniStudenta(student)">Izmeni</button>
                    <button v-on:click="ukloniStudenta(student.indeks)">Ukloni</button>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <script>
        const StudentskaSluzba = {
            data() {
                return {
                    naslov: "Studentska služba",
                    noviStudent: {},
                    studentZaIzmenu: {},
                    studenti: [
                        { indeks: "123/123456", ime: "Marko", prezime: "Marković", prosecnaOcena: 8.6 },
                        { indeks: "123/123457", ime: "Petar", prezime: "Petrović", prosecnaOcena: 8.6 }
                    ]
                }
            },
            methods: {
                dodajStudenta() {
                    let student = {...this.noviStudent};
                    this.studenti.push(student);
                },
                izmeniStudenta(student) {
                    this.studentZaIzmenu = {...student, originalniIndeks: student.indeks};
                },
                potvrdiIzmenuStudenta() {
                    for (let i = 0; i < this.studenti.length; i++) {
                        if (this.studenti[i].indeks == this.studentZaIzmenu.originalniIndeks) {
                            this.studenti[i] = {...this.studentZaIzmenu};
                            this.studentZaIzmenu.originalniIndeks = this.studentZaIzmenu.indeks;
                            break;
                        }
                    }
                },
                ukloniStudenta(indeks) {
                    for (let i = 0; i < this.studenti.length; i++) {
                        if (this.studenti[i].indeks == indeks) {
                            this.studenti.splice(i, 1);
                            break;
                        }
                    }
                }
            }
        }
        Vue.createApp(StudentskaSluzba).mount("#studentskaSluzba");
    </script>
</body>

</html>