<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kupac - dodavanje</title>
</head>

<body>
    <form action="/izmeniKupca?id={{kupac["id"]}}" method="POST">
        <div>
            <label>Korisnicko ime:</label>
            <input type="text" name="korisnickoIme" required maxlength="32" value="{{kupac["korisnickoIme"]}}">
        </div>
        <div>
            <label>Lozinka:</label>
            <input type="password" name="lozinka" required maxlength="255" value="{{kupac["lozinka"]}}">
        </div>
        <div>
            <label>Ime:</label>
            <input type="text" name="ime" required value="{{kupac["ime"]}}">
        </div>
        <div>
            <label>Prezime:</label>
            <input type="text" name="prezime" required value="{{kupac["prezime"]}}">
        </div>
        <div>
            <input type="submit" value="Izmeni">
        </div>
    </form>
</body>

</html>