<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kupci</title>
</head>
<body>
    <a href="kupacDodavanje.html">Dodaj kupca</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Korisničko ime</th>
                <th>Lozinka</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            {% for k in kupci %}
            <tr>
                <td>{{k["id"]}}</td>
                <td>{{k["korisnickoIme"]}}</td>
                <td>{{k["lozinka"]}}</td>
                <td>{{k["ime"]}}</td>
                <td>{{k["prezime"]}}</td>
                <td><a href="/kupacIzmena?id={{k["id"]}}">Izmeni</a> <a href="/ukloniKupca?id={{k["id"]}}">Ukloni</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>