<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kupovine</title>
</head>
<body>
    <a href="kupovinaDodavanje">Dodaj kupovinu</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Kupac</th>
                <th>Proizvod</th>
                <th>Kolicina</th>
                <th>Cena</th>
                <th>Datum</th>
            </tr>
        </thead>
        <tbody>
            {% for k in kupovine %}
            <tr>
                <td>{{k["id"]}}</td>
                <td>{{k["kupac_id"]}}</td>
                <td>{{k["proizvod_id"]}}</td>
                <td>{{k["datumKupovine"]}}</td>
                <td>{{k["cena"]}}</td>
                <td>{{k["datumKupovine"]}}</td>
                <td><a href="/kupovinaIzmena?id={{k["id"]}}">Izmeni</a> <a href="/ukloniKupovinu?id={{k["id"]}}">Ukloni</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>