<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proizvod - izmena</title>
</head>

<body>
    <form action="/izmeniProizvod?id={{proizvod["id"]}}" method="POST">
        <div>
            <label>Naziv:</label>
            <input type="text" name="naziv" required value="{{proizvod["naziv"]}}">
        </div>
        <div>
            <label>Cena:</label>
            <input type="number" name="cena" required value="{{proizvod["cena"]}}">
        </div>
        <div>
            <label>Opis:</label>
            <textarea name="opis">{% if proizvod["opis"] is not none %}{{proizvod["opis"]}}{% endif %}</textarea>
        </div>
        <div>
            <label>Dostupno:</label>
            <input type="checkbox" name="dostupno" value="1" {% if proizvod["dostupno"] %}checked{% endif %}>
        </div>
        <div>
            <input type="submit" value="Izmeni">
        </div>
    </form>
</body>

</html>