<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proizvodi</title>
</head>
<body>
    <a href="proizvodDodavanje.html">Dodaj proizvod</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Naziv</th>
                <th>Opis</th>
                <th>Cena</th>
                <th>Dostupno</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            {% for p in proizvodi %}
            <tr>
                <td>{{p["id"]}}</td>
                <td>{{p["naziv"]}}</td>
                <td>{{p["opis"]}}</td>
                <td>{{p["cena"]}}</td>
                <td>{{p["dostupno"]}}</td>
                <td><a href="/proizvodIzmena?id={{p["id"]}}">Izmeni</a> <a href="/ukloniProizvod?id={{p["id"]}}">Ukloni</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>