<html>
<body>

<a href='/add_user'> dodaj novog</a>

<form action="/trazi" method=POST>
    <input type=text name="email" value="">
    <input type=submit value="Trazi">
</form>

<table>
    <tr><td>id</td><td>email</td><td>password</td></tr>
    {% for el in users %}
    <tr><td><a href="/edit_user?id={{el.id}}"> {{el.id}}</a></td><td>{{el.email}}</td><td>{{el.password}}</td><td><a href="/delete?id={{el.id}}">obrisi</a></td><td>{{el.spojeno}}</td></tr>
    {% endfor %}
</table>

</body>
</html>