<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        NEKI SADRZAJ<br>
        {{naslov}}

        <span v-bind:title="poruka">Ime i prezime</span><br>

        <span v-if="prikazi"> ovo se nekad prikazuje a nekad treba da je sakriveno</span>

        <table>
            <tr>
                <td> ID </td>
                <td> Ime </td>
                <td> Prezime </td>
            </tr>
            <tr v-for="student in studenti">
                <td>{{student.id}}</td>
                <td>{{student.ime}}</td>
                <td v-if="student.id<3">{{student.prezime}}</td>
            </tr>
        </table>
                
    </div>
<script>
var app = new Vue({
    el: "#app",
    data: {
        studenti: [
            {id: 1, ime:"Pera", prezime:"Petrovic"},
            {id: 2,  ime:"Milan", prezime:"Markovic"},
            {id: 3,  ime:"Sofija", prezime:"Milanovic"},
            {id: 4, ime:"Djordje", prezime: "Obradovic"}
        ],
    }
}
);
</script>
</body>
</html>