<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{brojac}} <button v-on:click="uvecaj()" v-if="prikazuj">Uvecaj</button>

        <span v-if="prikazuj">Neki tekst</span><button v-on:click="sakrij()">Sakrij</button>

    </div>
<script>
var app = new Vue({
    el: "#app",
    data: {
        brojac: 0,
        prikazuj: true,
    },
    methods:{
        uvecaj: function(){
            this.brojac++;
        },
        sakrij: function(){
            this.prikazuj = !this.prikazuj;
        }
    }
}
);
</script>
</body>
</html>