<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">

        Id: <input v-model="element.id"><br>
        Ime: <input v-model="element.ime"><br>
        Plata: <input v-model="element.plata"><br>
        <button v-on:click="add()"> Add </button>
    <table>
        <tr>
            <td> ID </td>
            <td> Ime </td>
            <td> Plata </td>
            <td> Akcija </td>
        </tr>
        <tr v-for="el in zaposleni">
            <td>{{el.id}}</td>
            <td>{{el.ime}}</td>
            <td>{{el.plata}}</td>
            <td><a href="#" v-on:click="selektuj(el.id)">edit</a></td>
        </tr>
    </table>
    Ukupno:{{ukupno}}
    </div>
<script>
var app = new Vue({
    el: "#app",
    data: {
        ukupno:0,
        element:{
            id: 0,
            ime:"",
            prezime:""
        },
        zaposleni: [
            {id:1, ime:"pera", plata:100},
            {id:2, ime:"mika", plata:120},
            {id:3, ime: "sofija", plata:200}
        ],
    },
    methods:{
        add: function(){
            this.zaposleni.push({
                id: this.element.id,
                ime: this.element.ime,
                plata: parseFloat(this.element.plata)
            });
            this.ukupno = 0;
            for(var i=0; i< this.zaposleni.length; i++){
                this.ukupno += this.zaposleni[i].plata;
            }
        },
        selektuj: function(id){
            for(var i=0; i< this.zaposleni.length; i++){
                if(this.zaposleni[i].id == id){
                    this.element = this.zaposleni[i];
                    break;
                }
            }
        }
    }
}
);
</script>
</body>
</html>