<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        NEKI SADRZAJ<br>
        {{naslov}}
    </div>
<script>
var app = new Vue({
    el: "#app",
    data: {
        naslov: "Hello djordje"
    }
}
);
</script>
</body>
</html>