<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        NEKI SADRZAJ<br>
        {{naslov}}

        <span v-bind:title="poruka">Ime i prezime</span><br>

        <span v-if="prikazi"> ovo se nekad prikazuje a nekad treba da je sakriveno</span>



    </div>
<script>
var app = new Vue({
    el: "#app",
    data: {
        naslov: "Hello djordje",
        poruka: "Ovde je ime i prezime",
        prikazi: false,
    }
}
);
</script>
</body>
</html>