<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">

        <todo-item v-bind:todo="posao1"></todo-item>
        <todo-item v-bind:todo="posao2"></todo-item>

    </div>
<script>
Vue.component('todo-item',{
    props:['todo'],
    template:'<li> {{todo}} {{name}}</li>',
    data: function(){
        return {
            name: 'nesto'
        }
    },
    methods:{
        
    }
})

var app = new Vue({
    el: "#app",
    data: {
        naslov: "Hello djordje",
        posao1: 'sipati gorivo',
        posao2: 'uplatiti tag za putarinu',
        poslovi: [
            'posao 1',
            'posao 2',
            'posao 3'
        ]
    }
}
);
</script>
</body>
</html>