.todo{
    border: 1px solid #aaa;
    background-color: white;
    padding: 5px;
}


.user-form{
    border: 1px solid #aaa;
    background-color: rgb(52, 65, 52);
    color:white;
    padding: 5px;
}