.drzava {
    border: 1px solid #444;
    background-color: #aaa;
    padding: 10px;
}


.mesto {
    border: 1px solid #f44;
    background-color: #aaa;
    padding: 10px;
}

.student {
    border: 1px solid #4f4;
    background-color: #aaa;
    padding: 10px;
}