<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body id="app">
    <form v-on:submit.prevent="create()">
        <div>
            <label>Ime: <input type="text" v-model="noviKupac.ime" required></label>
        </div>
        <div>
            <label>Prezime: <input type="text" v-model="noviKupac.prezime" required></label>
        </div>
        <div>
            <label>Korisničko ime: <input type="text" v-model="noviKupac.korisnickoIme" required></label>
        </div>
        <div>
            <label>Lozinka: <input type="password" v-model="noviKupac.lozinka" required></label>
        </div>
        <div>
            <input type="submit" value="Dodaj">
        </div>
    </form>

    <form v-on:submit.prevent="update()">
        <div>
            <label>Ime: <input type="text" v-model="kupacZaIzmenu.ime" required></label>
        </div>
        <div>
            <label>Prezime: <input type="text" v-model="kupacZaIzmenu.prezime" required></label>
        </div>
        <div>
            <label>Korisničko ime: <input type="text" v-model="kupacZaIzmenu.korisnickoIme" required></label>
        </div>
        <div>
            <label>Lozinka: <input type="password" v-model="kupacZaIzmenu.lozinka" required></label>
        </div>
        <div>
            <input type="submit" value="Izmeni">
        </div>
    </form>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Korisničko ime</th>
                <th>Lozinka</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="kupac in kupci">
                <td>{{kupac.id}}</td>
                <td>{{kupac.ime}}</td>
                <td>{{kupac.prezime}}</td>
                <td>{{kupac.korisnickoIme}}</td>
                <td>{{kupac.lozinka}}</td>
                <td><button v-on:click="setKupacZaIzmenu(kupac)">Izmeni</button><button v-on:click="remove(kupac.id)">Ukloni</button></td>
            </tr>
        </tbody>
    </table>
    <script>
        const Prodavnica = {

            data() {
                return {
                    kupci: [],
                    noviKupac: {},
                    kupacZaIzmenu: {}
                }
            },
            methods: {
                setKupacZaIzmenu(kupac) {
                    this.kupacZaIzmenu = {...kupac};
                },
                refreshData() {
                    axios.get("api/kupci").then((response) => {
                        this.kupci = response.data;
                    });
                },
                create() {
                    axios.post("api/kupci", this.noviKupac).then((response) => {
                        this.refreshData();
                    });
                },
                update() {
                    axios.put(`api/kupci/${this.kupacZaIzmenu.id}`, this.kupacZaIzmenu).then((response) => {
                        this.refreshData();
                    });
                },
                remove(id) {
                    axios.delete(`api/kupci/${id}`).then((response) => {
                        this.refreshData();
                    });
                }
            },
            created() {
                this.refreshData();
            }
        }
        Vue.createApp(Prodavnica).mount("#app");
    </script>
</body>

</html>