<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studenti</title>
</head>

<body>
    <a href="dodajStudentaForma.html">Dodaj studenta</a>
    <table>
        <thead>
            <tr>
                <td>Indeks</td>
                <td>Ime</td>
                <td>Prezime</td>
                <td>E-mail</td>
                <td>Akcije</td>
            </tr>
        </thead>
        <tbody>
            {% for s in studenti %}
            <tr>
                <td>{{s.brojIndeksa}}</td>
                <td>{{s.ime}}</td>
                <td>{{s.prezime}}</td>
                <td>{{s.email}}</td>
                <td><a href="ukloniStudenta?brojIndeksa={{s.brojIndeksa}}">Ukloni</a>
                    <a href="izmeniStudenta?brojIndeksa={{s.brojIndeksa}}">Izmeni
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>