<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Izmena studenta</title>
</head>

<body>
    <form action="izmeniStudenta?brojInkdesa={{student.brojIndeksa}}" method="POST">
        <div>
            <label>Broj indeksa: </label>
            <input type="text" name="brojIndeksa" value="{{student.brojIndeksa}}" required>
        </div>
        <div>
            <label>Ime: </label>
            <input type="text" name="ime" value="{{student.ime}}" required>
        </div>
        <div>
            <label>Prezime: </label>
            <input type="text" name="prezime" value="{{student.prezime}}" required>
        </div>
        <div>
            <label>E-mail: </label>
            <input type="email" value="{{student.email}}" name="email">
        </div>
        <div>
            <input type="submit" value="Izmeni">
        </div>
    </form>
</body>

</html>